@model PatientTrackingSystem.Web.Models.Visit

@{
	ViewData["Title"] = "Visits - Create";
}

<center><h1>Visit</h1></center>
<br>
<h1>Create</h1>
<br>

<form asp-action="Create" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-outline mb-4">
		<label asp-for="Patient_Id" class="control-label" style="color:white">Patient Name</label>
		<select asp-for="Patient_Id" class="form-control" asp-items="@ViewBag.Patient_Id">
			<option selected="true" disabled="disabled">Select Item</option>
		</select>
		<span asp-validation-for="Patient_Id" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="Visit_Date" class="control-label" style="color:white">Visit Date</label>
		<input asp-for="Visit_Date" class="form-control" placeholder="Visit Date" id="Visit_Date"/>
		<span asp-validation-for="Visit_Date" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="Doctor" class="control-label" style="color:white"></label>
		<input asp-for="Doctor" onkeydown="return /[a-zA-ZğüşıöçĞÜŞİÖÇ\s]/i.test(event.key)" class="form-control" placeholder="Doctor" />
		<span asp-validation-for="Doctor" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="Complaint" class="control-label" style="color:white"></label>
		<input asp-for="Complaint" class="form-control" placeholder="Complaint"/>
		<span asp-validation-for="Complaint" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="Treatment" class="control-label" style="color:white">Form Of Treatment</label>
		<input asp-for="Treatment" class="form-control" placeholder="Form Of Treatment"/>
		<span asp-validation-for="Treatment" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4" style="display: flex; justify-content: space-between;">
		<div>
			<a asp-action="Index" class="btn btn-secondary">Back to List</a>
		</div>
		<div>
			<input type="submit" value="Create" class="btn btn-primary"  />
		</div>
		
	</div>
</form>




@section Scripts {
	<script>
		var now = new Date();
		now.setTime(now.getTime() + 3 * 60 * 60 * 1000 + 1 * 60 * 1000);
		var nowISO = now.toISOString().slice(0, 16);
		document.getElementById("Visit_Date").setAttribute("max", nowISO);

		
    </script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
