

  <div class="image-container">
  <div class="text-center">
    <img src="~/css/person.png" alt="Resim 1">
    <p class="bold-and-large">@ViewBag.patients Patients</p>
  </div>
  <div class="text-center">
    <img src="~/css/visit.png" alt="Resim 2">
    <p class="bold-and-large">@ViewBag.visits Visits</p>
  </div>
  <div class="text-center">
    <img src="~/css/user.png" alt="Resim 3">
    <p class="bold-and-large">@ViewBag.users Accounts</p>
  </div>
</div>