@model PatientTrackingSystem.Web.Models.Patient

@{
	ViewData["Title"] = "Patient - Create";
}

<center><h1>Patient</h1></center>
<br>
<h1>Create</h1>
<br>

<form asp-action="Create" method="post" >
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-outline mb-4">
		<label asp-for="id_card" class="control-label" style="color:white">ID Card</label>
		<input asp-for="id_card" class="form-control" placeholder="ID Card" />
		<span asp-validation-for="id_card" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="name_surname" class="control-label" style="color:white">Name Surname</label>
		<input asp-for="name_surname" onkeydown="return /[a-zA-ZğüşıöçĞÜŞİÖÇ.\s]/i.test(event.key)" class="form-control" placeholder="Name Surname"/>
		<span asp-validation-for="name_surname" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="birthday" class="control-label" style="color:white">Birthday</label>
		<input asp-for="birthday" type="date" class="form-control" id="birthday"/>
		<span asp-validation-for="birthday" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4" style="display: flex; justify-content: space-between;">
		<div>
			<a asp-action="Index" class="btn btn-secondary">Back to List</a>
		</div>
		<div>
			<input type="submit" value="Create" class="btn btn-primary"  />
		</div>
		
	</div>
</form>



	


@section Scripts {
	<script>
		var now = (new Date()).toISOString().split('T')[0];
			
		document.getElementById("birthday").setAttribute("max", now);
		
		
    </script>


	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
